@font-face {
    font-family: "mars-condensed";
    font-weight: 400;
    src: url("fonts/marscondensedweb-regular-TRIAL.woff") format("woff");
}

@font-face {
    font-family: "decibel";
    font-weight: 400;
    src: url("fonts/Decibelv02Trial-Louderer.woff") format("woff");
}

@font-face {
    font-family: "arnold";
    font-weight: 400;
    src: url("fonts/ArnoldTestv03.woff") format("woff");
}

@font-face {
    font-family: "80kb";
    font-weight: 400;
    src: url("fonts/80-kb-Sharp.woff2") format("woff2")
}

@font-face {
    font-family: "80kb-italic";
    font-weight: 400;
    src: url("fonts/80-kb-SharpItalic.woff2") format("woff2")
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
}

.strip {
    width: 100vw;
    background-color: black;
    height: 100px;
    z-index: 10000;
}


.big {
    font-family: "mars-condensed";
    font-size: 6.5em;
    line-height: 0.95;
}

.small {
    font-family: "arnold";
}

.small.warriors {
    width: 400px;
    margin-left: 200px;
    margin-top: 460px;
}

.underline {
    text-decoration: underline;
    /* text-decoration-color: #ff17e3; */
}


.so-special {
    height: 100vh;
    width: 100vw;
}

.white_wrap {
    /* background-color: white; */
    height: 100vh;
    width: 100vw;
}


.what_makes {
    margin-top: 500px;
    margin-bottom: 0;
}

.tarantino-special {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.decibel_small {
    font-family: "decibel";
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.decibel_medium {
    font-family: "decibel";
    font-size: 150px;
    line-height: 140px;
    margin-top: 0;
    margin-bottom: 0;
}

.decibel_big {
    font-family: "decibel";
    font-size: 300px;
    margin-bottom: -60px;
    margin-top: 400px;
}



.head_number {
    position: relative;
}

.number_wrap {
    height: 100vh;
    width: 700px;
    align-items: center;
    background-color: white;
}


.decibel_pink {
    font-family: "decibel";
    font-size: 700px;
    color: #ff17e3;
    position: absolute;
    bottom: -300px;
    right: 0;
}


.strip_vertical {
    width: 100px;
    background-color: black;
    height: 100vw;
    z-index: 10000;
}


.gersh_left {
    font-family: "decibel";
    font-size: 320px;
    color: #ff17e3;
}

.gersh_right {
    font-family: "decibel";
    font-size: 320px;
    color: #ff17e3;
}

.pink {
    color: #ff17e3;
}

.steal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    bottom: 300px;
}

.i_steal_text {
    display: flex;
}

.glow-briefcase {
    height: 100vh;
    align-items: center;
}

.briefcase {
    margin: 75px;
}

.a {
    position: relative;
}

.b {
    position: absolute;
    display: none;
    top: -20px;
}

.vinc_pic {
    width: 500px;
} 

.a:hover .b {
    display: block;
}


.b {
    position: absolute;
    display: none;
    top: 0;
}

.kiss_pic {
    width: 500px;
} 

.a:hover .b {
    display: block;
}


h1 {
    font-family: "mars-condensed";
    font-weight: normal;
    font-size: 7em;
    line-height: 0.95;
    text-align: center;
}


.lips {
    display: block;
    height: 100vh;
    align-items: center;
    background-color: black;
}

.lips-pics {
    background-color: white;
    align-items: center;
    position: relative;
}

.lips_together {
    width: 100vw;
}

.mars_small {
    font-family: "mars-condensed";
    font-size: 30px;
}

.mars_small.year_left {
    position: absolute;
    top: -15px;
    left: 30px;
}

.mars_small.year_right {
    position: absolute;
    top: -15px;
    right: 30px;
}

.good_bad_flex {
    display: flex;
}

.the_good_the_bad_left_colum {
    margin-left: 40px;
    margin-right: 20px;
}

.stevens_food {
    margin-left: 20px;
    margin-right: 40px;
}

.a {
    position: relative;
}

.b {
    position: absolute;
    display: none;
}

.jv_pic {
    width: 500px;
} 

.a:hover .b {
    display: block;
}

.a {
    position: relative;
}

.b {
    position: absolute;
    display: none;
}

.jules_burger_pic {
    width: 500px;
} 

.a:hover .b {
    display: block;
}

.shoot_pf {
    width: 500px;
} 

.angel_enter {
    width: 500px;
}

.angel_eat {
    width: 500px;
}

.angel_shoot {
    width: 500px;
}


.butch_wallas {
    height: 100vh;
    align-items: center;
}

/* .butch_wallas_pics {
    width: 1200px;
    align-items: center;
} */


.butch_street {
    width: 500px;
}

.wallas_street {
    width: 500px;
}

.marion {
    width: 500px;
}

.baker_boss {
    width: 500px;
}

.psycho_text {
    height: 100vh;
    width: 40vw;
}

.psycho_baker_wallas {
    display: flex;
    height: 100vh;
    align-items: center;
}

.baker {
    width: 63vw;
    height: 100vh;
    object-fit: cover;
}

.wallas {
    width: 30vw;
    height: 100vh;
    object-fit: cover;
}

.wallas_right {
    width: 40vw;
    align-items: flex-start;
    background-color: #ff88ff;
    position: relative
}

.fucker {
    position: absolute;
}

.psycho_marion_butch {
    display: flex;
    height: 100vh;
    align-items: center;
}

.butch_left {
    width: 30vw;
    height: 100vh;
    object-fit: cover;
}

.marion_right {
    width: 60vw;
    height: 100vh;
    object-fit: cover;
}

.decibel {
    font-family: "Decibel";
    font-weight: 400;
}

.arnold {
    font-family: "arnold";
    font-weight: 400;
}

